<!DOCTYPE html>

<html xmlns="http://www.thymeleaf.org">
  <head th:fragment="headCssScript">
    <title>Gestion Clientes</title>
    <meta charset="UTF-8">
     
    <link rel="stylesheet" th:href="@{/css/estilos.css}"/>
   <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
   <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!--<script th:src="@{/js/autocompletar-productos.js}"></script> -->
    
  </head>
</html>
