<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="plantillas/plantillaCssScript :: headCssScript"></head>

  <body>
    <section th:replace="plantillas/plantillaGeneral :: navbar"></section>


    <section id="listadoClientes">
      <div class="container my-4 text-center">
        <div class="row">
          <div class="col-xs-12 mx-auto">
            <a class="btn btn-dark btn-xs mb-4" th:href="@{/cliente/formularioAgregarCliente}">
              <i class="fa fa-address-card" aria-hidden="true"></i>
              [[#{titulo.agregarCliente}]] 
              <span class="sr-only">(current)</span></a>

            <table class="table table-dark text-secondary">
              <thead>
                <tr>
                  <th>[[#{cliente.idCliente}]]</th>
                  <th>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    [[#{cliente.nombre}]]

                  </th>
                  <th>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    [[#{cliente.email}]]

                  </th>
                  <th>
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    [[#{cliente.opciones}]]
                  
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="cliente: ${listadoClientes}">
                  <td>
                    <a th:href="@{/cliente/verDetalle}+'/'+${cliente.id}" class="btn btn-primary btn-xs">[[${cliente.id}]]</a>
                  </td>
                  <td>[[${cliente.nombreCompleto}]]</td>
                  <td>[[${cliente.email}]]</td>
                  <td>
                    
                    <a th:href="@{/factura/formularioFactura}+'/'+${cliente.id}" class="badge badge-warning">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      [[#{menu.factura}]]
                    </a>
                    <a th:href="@{/cliente/editarCliente}+'/'+${cliente.id}" class="badge badge-info">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                      [[#{menu.editar}]]
                    </a>
                    <a th:href="@{/cliente/eliminarCliente}+'/'+${cliente.id}" class="badge badge-danger">
                      <i class="fa fa-user-times" aria-hidden="true"></i>
                      [[#{menu.eliminar}]]
                    </a>

                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </section>



    <nav th:replace="plantillas/paginatorNav :: paginator"></nav>
    
    <section th:replace="plantillas/plantillaGeneral :: footer"></section>


  </body>
</html>
